<!--
* Name : FreeTime Tracker crochet project list (stack) html
* Author: Amber Miller
* Created : 12/5/2023
* Course: CIS 152 - Data Structure
* Version: 1.0
* OS: MAC OS Ventura 13.5.1
* IDE: PyCharm 2023.2.1 (Professional Edition) Version
* Copyright : This is my own original work
* based on specifications issued by our instructor
* Description : Page that the user can view to see what projects are in the crochet stack
*
* Academic Honesty: I attest that this is my original work.
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crochet List</title>
    <link rel="stylesheet" href="/static/css.css">
</head>
<body>
<header>
        <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('gameHome') }}">Video Game Home</a></li>
            <li><a href="{{ url_for('crochetHome') }}">Crochet Home</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="flex-container">
        <!-- flask if statement to display if insert was successful. Does not display if error is None -->
        {%  if  success %}
            <p> Insert Successful</p>
        {% endif %}
        <!-- table to display all items in crochet stack -->
        <table style="width:50%">
            <tr>
                <th>Project Name</th>
            </tr>
            <!-- flask for loop to get each item from crochet stack and display them in table -->
            {% for item in cList %}
            <tr>
                <td>{{ item }}</td>
            </tr>
                {% endfor %}
        </table>
    </div>
</main>
<footer>
    <p><em>All images sourced from Pixabay and utilized under free use licensing agreement</em></p>
    <a href="https://pixabay.com/service/license-summary/">Pixabay Content License</a>
</footer>
</body>
</html>